/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Layout & Scrollbar Tweaks */
html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}